@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sidebar-color: #131313;
  --main-color: #232323;
  --footer-color: #080808;
}

@media only screen and (max-width: 475px)  {
  .grid-responsivity {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
  }
  .card-height {
    min-height: 445px;
  }
}